
select{
    font-family: 'Noto Sans KR', sans-serif;
    width: 20rem;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
input[type=radio]{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 1rem;
}
.error{
    font-family: 'Noto Sans KR', sans-serif;
    color: red;
}
h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:xx-large;
}
