@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:wght@700&family=Nanum+Gothic&family=Nanum+Brush+Script&family=Pacifico&family=Do+Hyeon&family=Noto+Sans+KR:wght@400;500;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
}
.MuiFormControlLabel-root{
  margin: 0px;
}
